.DS_Store
*.pyc
*.db

#Folders to not track with git

resources/
#Automated temp files with which to derive releases. Don't include
release/build
release/dist
release/*.dmg
release/*.app
release/[0-9].[0-9].[0-9]*
src/build/
config_override.py
testing/test_files
testing/testenv
